[submodule "vim-align"]
	path = vim-align
	url = git@github.com:slack/vim-align.git
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "vim-ragtag"]
	path = vim-ragtag
	url = git@github.com:tpope/vim-ragtag.git
[submodule "vim-rails"]
	path = vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim-rvm"]
	path = vim-rvm
	url = git@github.com:tpope/vim-rvm.git
[submodule "vim-test"]
	path = vim-test
	url = git@github.com:milkfarm/vim-test.git
