[submodule "vim-align"]
	path = vim-align
	url = git@github.com:slack/vim-align.git
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "vim-ragtag"]
	path = vim-ragtag
	url = git@github.com:tpope/vim-ragtag.git
[submodule "vim-rails"]
	path = vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim-rvm"]
	path = vim-rvm
	url = git@github.com:tpope/vim-rvm.git
[submodule "vim-test"]
	path = vim-test
	url = git@github.com:milkfarm/vim-test.git
[submodule "vim-textobj-user"]
	path = vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "vim-textobj-rubyblock"]
	path = vim-textobj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock.git
[submodule "vim-textobj-line"]
	path = vim-textobj-line
	url = git@github.com:kana/vim-textobj-line.git
[submodule "vim-tmux-navigator"]
	path = vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "greplace.vim"]
	path = greplace.vim
	url = git@github.com:skwp/greplace.vim.git
